@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg-light: #fafafa;
  --color-bg-dark: #121212;

  --color-secondary: #e5e5e5;
  --color-secondary-dark: #1e1e1e;
  
  --color-text-light: #333333;
  --color-text-dark: #ffffff;

  --color-muted-light: #6B7280;
  --color-muted-dark: #A1A1AA
}

@layer base{
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply 
    antialiased
    mx-auto
    px-8
    max-w-3xl
    flex
    flex-col
    bg-bg-light
    dark:bg-bg-dark 
    text-text-light 
    dark:text-text-dark
  }

  #root {
    @apply
    min-h-screen
    flex
    flex-col
  }

  h1 {
      @apply text-5xl
  }

  h2{
      @apply text-4xl
  }

  h3 {
      @apply text-3xl
  }

  h4 {
      @apply text-2xl
    }

  h5 {
    @apply text-xl
  }

  h6 {
    @apply text-lg
  }

  .chat-message a {
    @apply
    underline
  }
}